<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="assets/css/style2.css" rel="stylesheet" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Meet our Mentors</title>

  <style>
    .newcls{
      font-size: 70px !important;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mb-4 newcls">Our Mentors</h1>
    <a href="/articles/new" class="btn btn-success">Register Yourself As a Mentor</a>

    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <div class="card-text mb-2"><%= article.targetAudience %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <a href="https://bear-a-hand-videoapp.herokuapp.com/" class="btn btn-info">Go to Class</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>